.mac-transparent{
    height: 370px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #F6F7F8;
    border-radius: 4px;
}

.mac-transparent-row{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid #F6F7F8;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* we set the display for iconshide to none, so that on onMouseLeave, the icons dont show any more */
.iconshide {
    display: none;
}
/* we display for iconshow and make the position absolute, so that on onMouseShow, the icons show
something to note: the style top basically means x% from the top of the container
*/
.iconshow {
    position: absolute;
    left: 8%;
    top: 12%; 
}

hr{
    width: 80%;
}

p{
    margin: 0 0 0 70px;
}

